body {
    background-color: gray;
}


#surfplatta {
    display: none;
    font-family: 'Times New Roman', Times, serif, 'Comic Sans MS';
}


#mobil {
    display: none;
    font-family: Arial, Helvetica, sans-serif,'Comic Sans MS';
}



#print {
    display: none;
    font-family: 'Comic Sans MS',Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

/*Media Querie som bestämmer vilket format som skall visas beroende på storleken*/
@media only screen and (max-width: 768px) {
    body {
        background-color: red;
    }


    #surfplatta {
        display: block;
    }


    #mobil {
        display: none;
    }


    #print {
        display: none;
    }


    #dator {
        display: none;
    }
}

/*Media Querie som bestämmer vilket format som skall visas beroende på storleken*/
@media only screen and (max-width: 480px) {
    body {
        background-color: purple;
    }


    #surfplatta {
        display: none;
    }


    #mobil {
        display: block;
    }

    #print {
        display: none;
    }


    #dator {
        display: none;
    }
}


@media only print {
    body {
        background-color: white;
    }


    #surfplatta {
        display: none;
    }


    #mobil {
        display: none;
    }


    #print {
        display: block;
    }


    #dator {
        display: none;
    }
}

article {
    border: 4px solid black;
    color: white;
}


ul {
    list-style-type: none;
    width: 100%;
    display:inline;
   
}

li {
    width: 100%;
    padding: 3px;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 5px;
}
li a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        position:relative;
        left:35%;
        
    }

img {
    border-radius: 30%;
    width: 30%;
    height: 30%;
}

    img:hover {
        border-radius: 60%;
        width: 60%;
        height: 60%;
    }
