canvas{
    margin-top:100px;
    margin-left:-250px;
    width:150vw;
    height:100vh;
    z-index:-1;
}
.aquarium .diver{
    position:absolute;
    top:30%;  
}
.aquarium .moray{
    width:150px;
    height:80px;
    position:absolute;
    top:85%;
    left:15%;
    animation:moray 10s infinite;

}
.aquarium .nurseshark{
    position:absolute;
    top:40%;
    right:13%;
    /*animation:nurseshark 10s infinite;*/
}
.aquarium .stonefish{
    position:absolute;
    top:76%;
    right:13%;
}
/*@keyframes nurseshark{
    0%{
        top:300px;
        right:100px;
    }
    25%{
        top:350px;
        right:200px;
    }
    40%{
        top:400px;
        right:300px;
        transform:rotateY(90deg);
    }
    50%{
        top:450px;
        right:320px;
        transform:rotateY(90deg);
    }
    60%{
        top:550px;
        right:310px;
        transform:rotateY(180deg);
    }
    75%{
        top:550px;
        right:270px;
        transform:rotateY(180deg);
    }
    90%{
        top:500px;
        right:230px;
        transform:rotateY(180deg);
    }
    100%{
        top:450px;
        right:140px;
        transform:rotateY(180deg);
    }
}*/
@keyframes moray{
    0%{
        top:700px;
        left:350px;
    }
    25%{
        top:700px;
        left:480px;
    }
    50%{
        top:500px;
        left:480px;
    }
    75%{
        top:500px;
        left:350px;
    }
    100%{
        top:700px;
        left:350px;
    }
}