body {
    background-color: lightblue;
    background-image: url('../images/MALE.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid {
    background-image: url('../images/MALE.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*border-width:0;*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color:white;
}
.navbar-default .navbar-nav >li>a{
    color:white;
}
form {
    /*border: 3px solid black;*/
    margin-top: 10vh;
    margin-left: 25%;
}
textarea{
    width:40vw;
    height:40vh;

}
label, legend {
    background-color: rgba(255, 255, 255, 0.70);
}

.contactform {
    font-size: large;
    margin-top: 18vh;
    background-color: #44aaee;
}

ul {
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;
    border-radius: 20%;
}

    ul li {
        display: inline;
        margin: 5px;
        list-style-type: none;
        color: black;
    }

a {
    border: 2px solid black;
    padding: 2px;
    margin: 3px;
    border-radius: 15%;
    font-size: medium;
    box-shadow: 5px 5px;
    background-color: rgba(27, 13, 239, 0.91);
    color: white;
    transition: all 2s;
}

    a:hover {
        border: 10px ridge blue;
        padding: 4px;
        text-transform: uppercase;
        font-family: 'Comic Sans MS';
    }

.row {
    margin: 12vh;
}

.index {
    background-color: rgba(105, 131, 197, 0.72);
}

.ett, .tvau, .tre, .fyra, .fem {
    margin: 5px;
}

p {
    color: black;
}

    p:hover, h3:hover {
        color: white;
    }

.h2 {
    margin-top: 22vh;
}


