video {
    border:3px solid black;
    margin-top: 30%;
}
#myCanvas{
    background-color:rgba(204, 245, 248, 0.67);
}

.videoWrapper {
    position: relative;
    padding-left:40%;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    border:3px solid gold;
    padding:5%;
    background-color:white;
    border-radius:5%;
        position: absolute;
        top: 0;
        left: 10px;
        width: 60%;
        height: 60%;
    }
.TvInner video{
    border:3px solid black;
    padding:5%;
    background-color:white;
    border-radius:5%;
}


