#myCanvas {
    margin-top: 75px;
    width: 100%;
    height: 100%;
}

.videoWrapper {
    position: relative;
    padding-left: 40%;
    padding-bottom: 56.25%;
    padding-top: 60px;
    overflow: hidden;
}

    .videoWrapper iframe,
    .videoWrapper object,
    .videoWrapper embed {
        border: 3px solid gold;
        padding: 5%;
        background-color: white;
        border-radius: 5%;
        position: absolute;
        top: 0;
        left: 10px;
        width: 60%;
        height: 60%;
    }
    .TvInner{
        width:550px;
        height:390px;
    }
.TvInner video{
    padding:1%;
    height:350px;
    margin-top: 9%;
    
}

.TVOuter {
    position:absolute;
    width: 100%;
    height: 80%;
    top:23%;
}
